<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- Add a single button named "Index" that accesses the "about_view" URL -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:about_view' %}" target="_blank">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:contact_view' %}" target="_blank">Contact us</a>
                </li>
    
                {% if user.is_authenticated %}
                    <!-- Display these items when the user is authenticated -->
                    <li class="nav-item">
                        <span class="nav-link">Welcome, {{ user.first_name|default:user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:logout_view' %}">Sign Out</a>
                    </li>
                {% else %}
                    <!-- Display these items when the user is not authenticated -->
                    <form action="{% url 'djangoapp:login_view' %}"  method="post">
                        {% csrf_token %}
                        <div class="container">
                          <label for="username"><b>User Name</b></label>
                          <input type="text" placeholder="Enter User Name: " name="username" required>
                          <label for="psw"><b>Password</b></label>
                          <input type="password" placeholder="Enter Password: " name="psw" required>
                          <div>
                            <button class="button" type="submit">Login</button>
                          </div>
                        </div>
                      </form>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:registration_view' %}">Signup</a>
                    </li>
                    
                {% endif %}
            </ul>
        </div>
        {% if user.is_authenticated %}

        <div>
            <a href="{% url 'djangoapp:post_reviews_by_id' dealer_id=dealer_id %}">Post a Review</a>
        </div>
        {% endif %}

    </nav>
    <h3>Reviews for Cars</h3>
    <div class="card-columns">
        {% for review in reviews %}
            <div class="card">
                <img class="card-img-top" src="{{ MEDIA_URL }}/emoji/{% if review.sentiment == 'positive' %}positive.png{% elif review.sentiment == 'negative' %}negative.png{% else %}neutral.png{% endif %}" alt="{{ review.sentiment }}">
                <div class="card-body">
                    <h5 class="card-title">{{ review.name }} {{ review.dealership }} ({{ review.purchase_year }})</h5>
                    <p class="card-text">{{ review.review }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    
    

    </body>

</html>